<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="top-header"><%= @market.name %></div>
  <div class="info-header"><%= @market.full_address %></div>
    <br>
    <br>
  <div class="format-list">
    <h3>Vendors at our Market</h3>
      <% @vendors.each do |vendor| %>
        <p><%= link_to vendor.name, "/vendors/#{vendor.id}" %></p>
      <% end %>
  </div>

</body>
</html>
  


